@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : tu peux ajouter un style global sobre ici */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}